.content {
  max-width: 1140px;   /* más elegante */
  margin: 0 auto;
  padding: 0 32px;
  margin-top: 3em;
}

.content p {
  line-height: 1.6;
}

h1 {
    margin-bottom: 20px;
}

p + p {
  margin-top: 20px;
}
