.carousel-container {
  position: relative;
}

.flecha {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.7);
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 20;
  font-size: 24px;
}

.flecha.izquierda {
  left: 5px;
}

.flecha.derecha {
  right: 5px;
}

.flecha:hover {
  background: #E63743;
}

.carousel {
  display: flex;
  gap: 1rem;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 1rem;
  height: 475px;
}

.carousel-card {
  position: relative;
  min-width: 260px;
  height: 400px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 2px 2px 5px #888;
}

.carousel-card h3 {
  margin-left: 5px;
  font-size: 14px;
}

.carousel-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
} 

.btn-carrito {
  width: 100%;
  border: none;
  background-color: #e63946;
  color: #fff;
  padding: 0.7rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-carrito:hover {
  background-color: #c62839;
}

.hotelPrice {
  font-size: 16px;
}

.carousel-card span{
  margin-left: 5px;
  font-weight: bold;
}

.dropdown-wrapper {
  position: relative;
  display: flex;  
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.comprarCarousel {
  padding: 10px 25px;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;

  /* Para centrar texto dentro */
  display: flex;
  align-items: center;
  justify-content: center;
}


.comprarCarousel:hover {
  background-color: #E63743;
}

.dropdown-fechas {
  position: absolute;
  top: 110%;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  z-index: 10;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.confirmar {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 10px;
}

.view-all {
  margin: 10px auto;
  padding: 10px 25px;
  border-radius: 10px;
  border: none;
  background-color: #E63743;
  color: white;
  cursor: pointer;
}

.view-all:hover {
  background-color: black;
}

.hotel-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hotel-row {
  height: 300px;
  display: flex;
  gap: 20px;
  background: #fff;
  border-radius: 16px;
  padding: 15px;
}

.hotel-row img {
  width: 220px;
  object-fit: cover;
  border-radius: 12px;
}

.hotel-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hotel-info h3 {
  margin: 0;
}

.hotel-info p {
  font-size: 14px;
  color: #555;
}

.hotel-info .price {
  font-weight: bold;
  font-size: 16px;
}
